<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head') %>
</head>
<body class="grid-fixed">
<%- include('header') %>
    <main id="edit">
        <h2 class="edit__title">EDITAR ITEM</h2>
        <form class="create__form" action="/admin/edit/<%= item.product_id %>" method="POST" enctype="application/x-www-form-urlencoded">
            <div class="form__flex">
                <div class="form__box--flex">
                    <label class="form__label" for="category_id">Categoría:</label>
                    <select class="form__select" name="category_id" id="category_id" required>
                        <option value="<%= item.category_id %>" selected><%= item.category_name %></option>
                        <option value="1">Figuras Coleccionables</option>
                        <option value="2">Llaveros</option>
                        <option value="3">Remeras</option>
                    </select>
                </div>
                <div class="form__box--flex">
                    <label class="form__label" for="licence_id">Licencia:</label>
                    <select class="form__select" name="licence_id" id="licence_id" title="licencia" required>
                        <option value="<%= item.licence_id %>"  selected ><%= item.licence_name %></option>
                        <option value="1">Star Wars</option>
                        <option value="2">Pokemon</option>
                        <option value="3">Harry Potter</option>
                    </select>
                </div>
            </div>
            <div class="form__box--flex">
                <label class="form__label" for="name">Nombre del producto:</label>
                <input class="form__input" type="text" name="product_name" id="product_name" value="<%= item.product_name %>"
                     required>
            </div>
            <div>
                <textarea name="product_description" id="product_description" cols="30" rows="10"
                    required><%= item.product_description %></textarea>
            </div>
            <div class="form__flex">
                <div class="form__box--flex">
                    <label class="form__label" for="sku">SKU:</label>
                    <input class="form__input" type="text" name="sku" id="sku" value="<%= item.sku %>" required>
                </div>
                <div class="form__box--flex">
                    <label class="form__label" for="price">Precio:</label>
                    <div class="form__input--wrapper"><span>u$s</span><input class="form__input" type="text" name="price"
                            id="price" data-type="currency" value="<%= item.price %>"></div>
                </div>
                <div class="form__box--flex">
                    <label class="form__label" for="stock">Stock:</label>
                    <div class="form__input--wrapper">
                        <input class="form__input" type="text" name="stock" id="stock" value="<%= item.stock %>" required>
                        <span>unidades</span>
                    </div>
                </div>
            </div>
            <div class="form__flex">
                <div class="form__box--flex">
                    <label class="form__label" for="discount">Descuento:</label>
                    <div class="form__input--wrapper">
                        <input class="form__input" type="text" name="discount" id="discount" value="<%= item.discount %> "required>
                        <span>%</span>
                    </div>
                </div>
                <div class="form__box--flex">
                    <label class="form__label" for="dues">Cuotas:</label>
                    <select class="form__select" name="dues" id="dues">
                        <option value="<%= item.dues %>" selected><%= item.dues %> cuotas s/ interés</option>
                        <option value="0">Sin cuotas</option>
                        <option value="3">3 cuotas s/ interés</option>
                        <option value="6">6 cuotas s/ interés</option>
                        <option value="9">9 cuotas s/ interés</option>
                        <option value="12">12 cuotas s/ interés</option>
                        <option value="18">18 cuotas s/ interés</option>
                        <option value="24">24 cuotas s/ interés</option>
                    </select>
                </div>
            </div>
            <div class="form__box--flex">
                <label class="form__label" for="images">Imagenes:</label>
                <!-- <input type="file" name="images" id="img" title="imagenes" multiple> -->
                <input type="text"  value="<%= item.image_front %>" name="image_front">
                <input type="text" value="<%= item.image_back %>" name="image_back">
            </div>
            <div class="form__flex">
                <input class="form__btn btn btn--primary btn--large" type="submit" value="Agregar Producto">
                <input class="form__btn btn btn--primary btn--large" type="reset" value="Limpiar">
            </div>
        </form>
    </main>
    <%- include('footer') %>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.7/dist/iconify-icon.min.js"></script>
</body>
</html>